.main-body{
    display: flex;
    flex-direction: column;
    width: var(--width-large);
    margin: 0 auto;
    scroll-behavior: smooth; 

    &__about-me {
        margin: 0 auto;

        & img {
            width: 60rem;
        }

        &__title{
            text-transform: uppercase;
            text-align: center;
            font-size: 5rem;
            padding-bottom: 4rem;;
        }
    }
    
    // & > div {
    //     margin: 0 auto;
    //     padding: 20px 0px 20px 0px;
    //     font-size: 30px;
    //     width: 50%;

    //     & img {
    //         width: 100%;
    //     }
    // }
}