.project-item_container{

    padding-bottom: 5rem; /* Same as width, sets height */
    margin-bottom: 2%; /* (100-32*3)/2 */
    position: relative;
  

    & a {
        background: #fff;
        align-self: stretch;
        border: 2px solid #ebeef1;
        border-top: 4px solid #636a72;
        border-radius: 6px;
        transition: all .2s ease-out;
        position: relative;
        top: 0;
        text-decoration: none;

    }

    .project-item_container_image img {
      width: 800px;
    }
}