.projects-title_container{
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 0;

    & .projects-title_container_title{
        font-size: x-large;
    }

    & .projects-title_container_description{
        width: 40%;
    }
}